@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Yeseva+One&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat;
  overflow-x: hidden; }

.botonera {
  background-color: #33305b;
  background: linear-gradient(90deg, rgba(2, 2, 29, 0.594573) 1%, rgba(197, 185, 203, 0.13799) 34%, #373636 96%);
  margin-right: 3rem;
  padding: 1rem 3rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  @media (min-width: 768px) {
    .botonera {
      padding: 1rem;
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 10rem; } }
  .botonera ul {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    list-style: none; }
    @media (min-width: 768px) {
      .botonera ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 50rem;
        margin-top: -4rem; } }
    .botonera ul li {
      margin-left: 2rem; }
      .botonera ul li a {
        color: black;
        font-size: 1rem;
        text-decoration: none; }
        .botonera ul li a:hover {
          font-weight: 500;
          color: darkviolet; }

.logoMargin {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  width: 80%;
  align-content: center;
  align-items: center;
  margin-left: 3rem;
  height: 60%;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .logoMargin {
      width: 30%;
      display: flex;
      align-items: flex-start;
      margin-left: 2rem;
      box-sizing: border-box;
      margin-top: -1rem; } }

#nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 2rem;
  top: 0; }
  #nosotros table {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    #nosotros table h3 {
      font-style: italic; }
  #nosotros section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem; }
    #nosotros section h1 {
      font-weight: 500;
      font-size: 2rem;
      margin: 1rem;
      text-decoration: underline; }
    #nosotros section h2 {
      font-weight: 500;
      font-size: 2rem;
      margin: 1rem;
      text-decoration: underline; }

.nosotrosAlign {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0rem;
  height: 30rem;
  align-items: center;
  width: 97%; }

.textoNosotros {
  background-color: #889999;
  margin: 0rem;
  padding: 1rem; }

#formulario {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: none; }
  #formulario h3 {
    width: 100%;
    height: 3rem;
    margin-top: -5rem;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: rgba(77, 84, 84, 0.9); }
  #formulario form {
    display: flex;
    background-color: #889999;
    border: none; }
    #formulario form fieldset {
      border: none; }
      #formulario form fieldset legend {
        width: 60%;
        height: 3rem;
        font-size: 1rem;
        text-align: left;
        margin-top: 1rem;
        padding: 0rem;
        border: none;
        font-weight: bold; }
      #formulario form fieldset div {
        margin: 1rem;
        border: none;
        text-align: left; }

#Contacto {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 100%; }
  #Contacto article {
    width: 100%; }
    #Contacto article textarea {
      width: 100%;
      height: 10rem; }
  #Contacto .botonera {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

footer {
  background-color: #212529;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  footer img {
    text-decoration: none;
    height: 2rem;
    width: 20%;
    margin-top: 2rem; }
