
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Yeseva+One&display=swap');

$fontMain: 'Poppins', sans-serif;

$fontSize: 62.5%;

$textXl: 4rem;
$textLg: 3rem;
$textMd: 2rem;
$textSm: 1rem;


$fontXl: 500;
$fontMd: 400;
$fontSm: 300;

$fontStyle: italic;

