
//nesting

nav{
	transition: all 4s;
}

.fondoIndex{
	background-color: map-get($map:$paletaGrises, $key:'uno');
	background: linear-gradient(90deg, rgba(2,2,29,0.5945728633250176) 1%, rgba(197,185,203,0.13799023027179624) 34%, rgba(55,54,54,1) 96%);
	@media (min-width: 280px){
				width: $w-100;
					}
}

.logoMargin{
	display:  flex;
	box-sizing: border-box;
	text-decoration: none;
	width: $w-80;
	align-content: center;
	align-items: center;
	margin-left: $rem-3;
	height: $w-60;
	margin-top:  $rem-1;
	@media (min-width: 280px){
					width: $w-80;
	}
	@media (min-width: 768px){
					width: $w-45;
					display:  flex;
					align-items: flex-start;
					margin-left: $rem-2;
					box-sizing: border-box;
					margin-top:  $rem-0;
	}
}

.opciones{
			font-size: 2rem;
			/*text-align: right;*/
		}	

		.opciones:hover{
				transform: translateY(-4px);
				cursor: pointer;
				transition: all 2s;
				font-size: 3rem;
		}	